In [2]:
import pandas as pd

## read data from csv file into dataframe

In [ ]:
# df=pd.read_csv("sales_data_sample.csv",encoding="latin1")
# df=pd.read_excel("SampleSuperstore.xlsx")
df=pd.read_json("sample_Data.json")
print(df)

## Saving a csv file

In [17]:
data ={
    "Name":["Ram","Shyam","Kishor"],
    "Age":[25,35,67],
    "City":["Delhi","Bombay","Pune"]
}

df=pd.DataFrame(data)
print(df)

# df.to_csv("Dictionary_data.csv",index=False)
# df.to_excel("Dictionary_data.xlsx",index=False)
df.to_json("Dictionary_data.json",index=False)

     Name  Age    City
0     Ram   25   Delhi
1   Shyam   35  Bombay
2  Kishor   67    Pune

## Exploring the datasets ->
1. Understand the dataset
2. identify the problems
3. Plan next steps

In [ ]:
# head() and tail()
# head(n)  -> shows first n rows otherwise default 5 rows same as for tail
df=pd.read_json("sample_Data.json")
print("Display First 10 rows")
print(df.head(10))
print("Display last 10 rows")
print(df.tail(10))

In [ ]:
# Summarizing the info of our dataset
print("Displaying the info of datasets")
print(df.info())

In [23]:
Emp_data = {
    "Name": ['Ram', 'Shyam', 'Ghanshyam', 'Dhanshyam', 'Aditi', 'Jagdish', 'Raj', 'Simran'],
    "Age": [28, 34, 22, 30, 29, 40, 25, 32],
    "Salary": [50000, 60000, 45000, 52000, 49000, 70000, 48000, 58000],
    "Performance Score": [85, 90, 78, 92, 88, 95, 80, 89]
}

emp_df=pd.DataFrame(Emp_data)
print("Descrptive details of the dataframe :")
print(emp_df.describe())

print("column names :",emp_df.columns)
print("Shape of the dataframe :",emp_df.shape)

Descrptive details of the dataframe :
             Age        Salary  Performance Score
count   8.000000      8.000000           8.000000
mean   30.000000  54000.000000          87.125000
std     5.529144   8194.074514           5.817154
min    22.000000  45000.000000          78.000000
25%    27.250000  48750.000000          83.750000
50%    29.500000  51000.000000          88.500000
75%    32.500000  58500.000000          90.500000
max    40.000000  70000.000000          95.000000
column names : Index(['Name', 'Age', 'Salary', 'Performance Score'], dtype='str')
Shape of the dataframe : (8, 4)

## Filtering

In [34]:
# Slecting secific column
column=emp_df["Age"]
print(column)

# selecting multiple columns
columns=emp_df[['Age','Salary']]
print(columns)

# selecting specific row under contition
rows =emp_df[emp_df['Age']>30]
print(rows)

# selecting rows under multiple conditions
rows1=emp_df[(emp_df["Salary"]>47000) & (emp_df["Salary"]<55000)]
print(rows1)

0    28
1    34
2    22
3    30
4    29
5    40
6    25
7    32
Name: Age, dtype: int64
   Age  Salary
0   28   50000
1   34   60000
2   22   45000
3   30   52000
4   29   49000
5   40   70000
6   25   48000
7   32   58000
      Name  Age  Salary  Performance Score
1    Shyam   34   60000                 90
5  Jagdish   40   70000                 95
7   Simran   32   58000                 89
        Name  Age  Salary  Performance Score
0        Ram   28   50000                 85
3  Dhanshyam   30   52000                 92
4      Aditi   29   49000                 88
6        Raj   25   48000                 80