# Data Manipulation

In [1]:
import pandas as pd

In [ ]:
Emp_data = {
    "Name": ['Ram', 'Shyam', 'Ghanshyam', 'Dhanshyam', 'Aditi', 'Jagdish', 'Raj', 'Simran'],
    "Age": [28, 34, 22, 30, 29, 40, 25, 32],
    "Salary": [50000, 60000, 45000, 52000, 49000, 70000, 48000, 58000],
    "Performance Score": [85, 90, 78, 92, 88, 95, 80, 89]
}


emp_df=pd.DataFrame(Emp_data)
print(emp_df)
# Adding new column
emp_df["Bonus"]=emp_df["Salary"] * 0.1
print(emp_df)

# using insert() method
# df.insert(loc,"Column name",Data)
emp_df.insert(0,"Employee id",[11,12,34,44,46,56,61,23])
print(emp_df)

# Data update for a specific cell
# using loc[] -> df.loc[row_index,"Column_name"]=value or data
emp_df.loc[4,'Salary']=50000
print(emp_df.loc[4])

In [ ]:
# increase salary by 5%
emp_df["Salary"]=emp_df["Salary"]*1.05
print(emp_df)

## Deletion

In [ ]:
# we can delete data by using drop() method
# df.drop(columns=["Column_name"],inplace=True)  ->  we use inplace=true because we want to update on our existing dataframe rather than making a copy of that deleted column
emp_df.drop(columns=["Performance Score"],inplace=True)
print(emp_df)

## identifying Missing data

In [ ]:
# NAN -> Not a number
# None -> for object datatypes
# isnull()
#   true - nan is missing or false - value is present
print(emp_df.isnull())
print(emp_df.isnull().sum())

In [ ]:
# dropna() method use for delete the null value rows and columns
# df.dropna(axis=0,inplace=True)

# values filling in null value cells
# df.fillna(value,inplace=True)

## Interpolation
-> it fills the null value numeric column by and estimate value, 
-> Avoid data loss, 
-> preserve data integrity

In [ ]:
# type -> linear, polynomial, time
# emp_df.interpolate(method='linear',axis=0,inplace=True)
Dict = {
    "Time": [1, 2, 3, 4, 5],
    "Value": [10, None, 30, None, 50]
}

dif = pd.DataFrame(Dict)

print("Before interpolation")
print(dif)

dif['Value']=dif['Value'].interpolate(method='linear',axis=0,inplace=True)
print("After interpolation")
print(dif["Value"])
'''
1. - time series data
2. - numeric data
3. - avoid data rows
'''

## Sorting

In [ ]:
# Sorting data 1 column 
# df.sort_value(by='Column_name',ascending=True/False,inplace=True)
Student = {
    "Name": ['Arun', 'Varun', 'Karun'],
    "Age": [25, 35, 22],
    "Salary": [10000, 2000, 30000]
}

stu = pd.DataFrame(Student)
print(stu)

stu.sort_values(by="Age",ascending=False,inplace=True)
print("Sorted by age :")
print(stu)

## Grouping and Aggregation

In [ ]:
emp_data2 = {
    "Name": [
        "Rahul", "Amit", "Sneha", "Priya", "Karan",
        "Neha", "Vikas", "Anjali", "Rohit", "Pooja"
    ],
    "Age": [
        25, 30, 25, 28, 30,
        26, 28, 25, 30, 26
    ],
    "Salary": [
        40000, 55000, 42000, 48000, 60000,
        45000, 50000, 43000, 62000, 47000
    ],
    "City": [
        "Delhi", "Mumbai", "Delhi", "Pune", "Mumbai",
        "Bangalore", "Pune", "Delhi", "Mumbai", "Bangalore"
    ]
}

emp_df2 = pd.DataFrame(emp_data2)
print(emp_df2)

avg_Salary=emp_df2["Salary"].mean()
print("Average Salary :", avg_Salary)

group_by_Age=emp_df2.groupby("Age")["Salary"].sum()
print(group_by_Age)